#slider-container-outer {
	overflow: hidden;
  background-color: khaki;
  margin-left: 400px;
  width: 600px;
}

#slider-container {
  background-color: rgb(173, 166, 102);
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
  transform: translateX(-200px);
}

/* CSS transition applied when translation of items happen */
.slider-container-transition{
	/* transition: transform 0.7s ease-in-out; */
}

.slider-item {
	width: 200px;
	flex-shrink: 0;
}

.slider-item:nth-child(even) {
  background-color: lightblue;

}